


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    background-color: #def7ff;
}

.headerContent {
    /* border: 1px solid ; */
    text-align: center;
    border-radius: 80px;
    padding: 20px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  10px 10px 15px #ebebeb,
             -10px -10px 15px #ffffff;
    
}

.overContent {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin: 15px;
    align-items: center;
    position: relative;
}

.form {
    width: 300px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}


.form input {
    width: 100%;
    padding: 17px 14px;
    outline: 0;
    border: 0;
    font-size: 18px;
    background-color: transparent;
}

.form .searchIcon {
    position: absolute;
    top: 9px;
    right: 20px;
    font-size: 35px;
    color: hsl(60, 100%, 50%)
}

.dropdown-menu {
    width: 100%;
    padding: 17px 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    gap: 10px;
}

.showDrop {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    border-radius: 20px;
    top: 4rem;
    padding: 17px;
    width: 164px;
    cursor: pointer;
    font-size: 20px;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 158px; right: 0px;
    background-color: white;
}




.arrowDrp {
    transition:  0.5s;
}

.rotatedArrow {
    transform: rotate(180deg);
}



.region:hover {
    background-color: aquamarine;
}


.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 100px;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    width: 300px;
    height: 370px;
    border-radius: 80px;
background: linear-gradient(145deg, #e6e6e6, #ffffff);
box-shadow:  10px 10px 15px #ebebeb,
             -10px -10px 15px #ffffff;
}


.card img {
    width: 300px;
    height: 200px;
  }

.cardBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    gap: 15px;
}

.cardBottom p{
    padding-bottom: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination button {
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}


.activePageButton {
    background-color: #007bff; /* Set your desired background color for the active page */
    color: #fff; /* Set your desired text color for the active page */
    font-weight: bold; /* Optionally make the text bold for the active page */
  }