




.headerCounId {
    padding: 40px 50px;
}


.btn-back {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

.btn-back svg {
    font-size: 20px;
    position: relative;
    top: 4px;
}

a {
    text-decoration: none;
}

.btn-back:hover {
    box-shadow: 5px 5px 100px 0px #616161;
}



.content-countryId {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 300px;
    justify-content: center;
    align-items: center;
}


.content-right {
    display: grid;
    grid-template-areas: 
    "right . left"
    "right . left"
    "bottom bottom bottom";
    gap: 40px;
}

.info-right {
    grid-area: right;
   /*  display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.info-right p{
    font-weight: bold;
    font-size: 25px;
}


.info-left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-left p{
    font-weight: bold;
    font-size: 25px;
}


.info-botom {
    grid-area: bottom;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 25px;
    gap: 10px;
    align-items: center;
}

.borders-countries {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.borders-countries p {
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
}